{% extends "layout.html" %} {% block page_content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/pages/common.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/pages/team.css') }}"
/>

<div class="our-team-section">
  <div class="gradient"></div>
  <div class="overlay-text">
    <h3>TEAM</h3>
    <h1>ATTRIBUTIONS</h1>
  </div>
</div>

<div class="stage">
  <div class="layout">
    <!-- 左侧导航 -->
    <aside class="sidebar">
      <div class="indicator" id="indicator"></div>
      <div class="sidebar-inner">
        <h3 class="side-title">OVERVIEW</h3>
        <nav>
          <ul class="menu" id="menu">
            <li><a class="navlink" href="#form">ATTRIBUTION FORM</a></li>
          </ul>
        </nav>
      </div>
    </aside>

    <!-- 右侧正文 -->
    <main class="content">
      <div class="paper">
        <!-- ATTRIBUTION FORM -->
        <section id="form">
          <h1>Attribution Form</h1>
          <p class="sub">
            The embedded form below automatically displays your team’s official
            Attributions Form. Please do not alter or remove it, as it is
            required to meet Bronze Medal Criterion #2.
          </p>

        <div class="iframe-container">
            <script type="text/javascript">
              // Listen to size change and update form height
              window.addEventListener("message", function (e) {
                if (e.origin === "https://teams.igem.org") {
                  const { type, data } = JSON.parse(e.data);
                  if (type === "igem-attribution-form") {
                    const element = document.getElementById(
                      "igem-attribution-form"
                    );
                    element.style.height = `${data + 100}px`;
                  }
                }
              });
            </script>

            <iframe
              id="igem-attribution-form"
              style="width: 100%; border: none"
              src="https://teams.igem.org/wiki/5972/attributions"
            ></iframe>
        </div>
        </section>

        <div class="logo-ring"></div>
      </div>
    </main>
  </div>
</div>

<style>
  .iframe-container {
    margin-top: 20px;
  }

  iframe {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-height: 600px;
  }

  .sub {
    margin-bottom: 15px;
    line-height: 1.7;
    color: #444;
  }
</style>

{% endblock %}
