{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Bronze Medal Criterion #1: Wiki</h4>
      <p>Describe how and why you chose your iGEM project.</p>
      <hr />
      <p>Visit the <a href="https://competition.igem.org/judging/medals">Medals page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Description</h2>
    <hr />
    <ul>
      <li>The annual loss caused by aquatic diseases in China exceeds 50 billion yuan. The over-reliance on antibiotics poses a threat to food safety, and there is an urgent need for green immune technologies. The current industry faces technical bottlenecks in aquaculture vaccines, such as high stress from injection, low efficiency, and uneven traditional immersion vaccination, resulting in a severe lack of immune coverage for farmed fish and low market acceptance, leading to frequent diseases.</li>
      <li>This project aims to develop an automatic continuous immersion immunization device to address the problems of manual vaccine administration, low efficiency, and high injury rate in aquaculture. It pioneers the use of "screw immersion + dynamic flow rate" to control the immersion time, and combines the vaccine tank with a bioreactor for constant temperature and oxygen supply to ensure immune activity. It also utilizes AI vision for fish body anomaly detection and multi-parameter coordinated control of the fish separator.</li>
    </ul>
  </div>
  
</div>


</div>

{% endblock %}
