{% extends "layout.html" %}
{% block page_content %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">

<div class="container">
  <div class="first-section">
    <!-- 前景图（包含白色文字） -->
    <img class="fg-img" src="/static/upload/home/wukonghome.png" alt="wukonghome">
    <img class="delimeter-com" src="/static/upload/home/delimeter.png" alt="delimeter">

    <div class="wukong-text">
      <p>Fish vaccine strain modification and <br>intelligent immersion inoculation system</p>
    </div>
  </div>

  <div class="second-section">
    <!-- 背景层 -->
    <div class="ocean-bg"></div>

    <!-- 覆盖层 -->
    <img src="/static/upload/home/peoandfish.png" alt="peoandfish" class="peoandfish">
    <img src="/static/upload/home/medicine.png" alt="medicine" class="medicine">
    <img src="/static/upload/home/peoeatfish.png" alt="peoeatfish" class="peoeatfish">


    <div class="insert-circle">
      asdasfsafsafsafsafasfas
    </div>

  </div>

</div>




</div>







{% endblock %}