{% extends "layout.html" %}
{% block page_content %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">

<div class="container">
  <!-- First Section -->
  <div class="first-section">
    <img class="fg-img" src="https://static.igem.wiki/teams/5972/uploads/home/wukonghome.webp" alt="wukonghome">
    <img class="delimeter-com" src="https://static.igem.wiki/teams/5972/uploads/home/delimeterlong.webp" alt="delimeterlong">

    <div class="wukong-text">
      <p>Fish vaccine strain modification and <br>intelligent immersion inoculation system</p>
    </div>
  </div>


  <!-- Second Section -->
  <div class="second-section">
    <div class="ocean-bg"></div>
    <img src="https://static.igem.wiki/teams/5972/uploads/home/peoandfish.webp" alt="peoandfish" class="peoandfish">
    <img src="https://static.igem.wiki/teams/5972/uploads/home/medicine.webp" alt="medicine" class="medicine">
    <img src="https://static.igem.wiki/teams/5972/uploads/home/peoeatfish.webp" alt="peoeatfish" class="peoeatfish">
    <div class="insert-circle part-1">
      However, diseases have long represented one of the major risks in the aquaculture industry, causing direct global
      economic losses exceeding USD 6 billion. Conventional prevention strategies, such as the use of antibiotics, pose
      a serious threat to food safety
    </div>
    <div class="insert-circle part-2">
      Marine aquaculture, as a strategic “blue granary” for securing the supply of high-quality protein, plays a vital
      role in sustaining the livelihoods of hundreds of millions of people and in promoting the sustainable utilization
      of marine resources
    </div>
    <div class="video-box-1">
      <iframe src="https://video.igem.org/videos/embed/qDNHVcvL24P46gsXf2ww8J?autoplay=1&muted=1&controls=0&logo=0"
        allow="autoplay; fullscreen" allowfullscreen sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
        title="ECUST-China: video1 (2025) [English]" frameborder="0" scrolling="no">
      </iframe>
    </div>
  </div>

  <!-- Third Section -->
  <div class="third-section">
    <div class="title-1">
      <p>OUR PROJECT AIMS <br>TO ACHIEVE</p>
    </div>
    <img class="delimeter-com" src="https://static.igem.wiki/teams/5972/uploads/home/delimeterlong.webp" alt="delimeterlong">
    <div class="title-2">
      <p>Vaccine robots and continuous immersion <br> vaccination</p>
    </div>
    <div class="two-columns">
      <div class="left-card">
        <img src="https://static.igem.wiki/teams/5972/uploads/home/vaccinations.webp" alt="vaccinations">
      </div>
      <div class="right-card">
        <img src="https://static.igem.wiki/teams/5972/uploads/home/rightcard.webp" alt="rightcard">
      </div>
    </div>
  </div>

  <!-- Fourth Section -->
  <div class="fourth-section">
    <div class="title-1">
      <p>THE ENLIGHTENMENT <br>OR SUN WUKONG</p>
    </div>
    <img class="delimeter-com" src="https://static.igem.wiki/teams/5972/uploads/home/delimeterlong.webp" alt="delimeterlong">
    <div class="title-2">
      <p>While struggling to find answers, we chanced upon Journey <br> to the West, where Sun Wukong seemed to <br>
        leap right off the page</p>
    </div>
    <div class="video-box-2">
      <iframe src="https://video.igem.org/videos/embed/fGxpPZosBed5ByTUdwr8eZ?autoplay=1&muted=1&controls=0&logo=0"
        allow="autoplay; fullscreen" allowfullscreen sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
        title="ECUST-China: video1 (2025) [English]" frameborder="0" scrolling="no">
      </iframe>
    </div>

    <!-- Fifth Section -->
    <div class="fifth-section">
      <div class="title-1">
        <p>THE GOLDEN <br>CUDCEL EXPANDS</p>
      </div>
      <img class="delimeter-com" src="https://static.igem.wiki/teams/5972/uploads/home/delimeterlong.webp" alt="delimeterlong">
      <div class="video-box-3">
        <iframe src="https://video.igem.org/videos/embed/98uFRaTgZtsPTZ43yaD8yf?autoplay=1&muted=1&controls=0&logo=0"
          allow="autoplay; fullscreen" allowfullscreen
          sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
          title="ECUST-China: video1 (2025) [English]" frameborder="0" scrolling="no">
        </iframe>
      </div>
    </div>

    <!-- Sixth Section -->
    <div class="sixth-section">
      <div class="title-1">
        <p>SUN WUKONG <br>SHRINKS</p>
      </div>
      <img class="delimeter-com" src="https://static.igem.wiki/teams/5972/uploads/home/delimetershort.webp" alt="delimeterlong">
      <div class="title-2">
        <p>This episode originates from Journey to the West, <br> in which Sun Wukong enters Princess Iron <br>Fan's
          body to
          obtain the Palm Leaf Fan</p>
      </div>

      <div class="video-box-3">
        <iframe src="https://video.igem.org/videos/embed/dj2hZx8UKBWaMC2RUvr4RZ?autoplay=1&muted=1&controls=0&logo=0"
          allow="autoplay; fullscreen" allowfullscreen
          sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
          title="ECUST-China: video1 (2025) [English]" frameborder="0" scrolling="no">
        </iframe>
      </div>
    </div>

    <!-- Eigth Section -->
    <div class="eigth-section">
      <div class="title-1">
        <p>ENTER THE <br>LABORATORY</p>
      </div>
      <img class="delimeter-com" src="https://static.igem.wiki/teams/5972/uploads/home/delimeterlong.webp" alt="delimeterlong">

      <div class="lab-button">
        <a href="{{ url_for('design') }}"><img src="https://static.igem.wiki/teams/5972/uploads/home/enterlab.svg" alt="Enter Lab Button"></a>

      </div>

      <div class="video-box-3">
        <iframe src="https://video.igem.org/videos/embed/wE7GwGqkKWmkpUcRp87Ejd?autoplay=1&muted=1&controls=0&logo=0"
          allow="autoplay; fullscreen" allowfullscreen
          sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
          title="ECUST-China: video1 (2025) [English]" frameborder="0" scrolling="no">
        </iframe>
      </div>
    </div>
  </div>

  <!-- Nitth Section -->
  <div class="ninth-section">
    <div class="title-1">
      <p>THE EMERGENCE OF <br> Hardware</p>
    </div>
    <img class="delimeter-com" src="https://static.igem.wiki/teams/5972/uploads/home/delimeterlong.webp" alt="delimeterlong">

    <div class="hardware-button">
      <a href="{{ url_for('hardware') }}"><img src="https://static.igem.wiki/teams/5972/uploads/home/enterhardware.svg" alt="Enter Lab Button"></a>
    </div>

    <div class="title-2">
      <p>This episode originates from Journey to the West, <br> in which Sun Wukong enters Princess Iron <br>Fan's
        body to
        obtain the Palm Leaf Fan</p>
    </div>
    <img class="factory-farming" src="https://static.igem.wiki/teams/5972/uploads/home/factoryfarming.webp" alt="factoryfarming">
    <div class="part-3">
      Meanwhile, through the integration of Internet of Things (IoT) and<br>automation technologies, an intelligent
      continuous immersion vaccination system has been developed to significantly improve vaccination efficiency
    </div>
  </div>

  <!-- Tenth Section -->
  <div class="tenth-section">
    <div class="title-1">
      <p>WE DID IT</p>
    </div>
    <img class="delimeter-com" src="https://static.igem.wiki/teams/5972/uploads/home/delimeterlong.webp" alt="delimeterlong">

    <div class="result-button">
      <a href="{{ url_for('results') }}"> <img src="https://static.igem.wiki/teams/5972/uploads/home/enterresult.svg" alt="result"></a>
    </div>


    <div style="width:1440px; margin:0 auto; text-align:center;">
      <iframe src="https://video.igem.org/videos/embed/9fTPtkqgFxH6a9oNcRbq1c?autoplay=1&muted=1&controls=0&logo=0"
        allow="autoplay; fullscreen" allowfullscreen sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
        title="ECUST-China: video1 (2025) [English]" frameborder="0" scrolling="no"
        style="width:100%; aspect-ratio:16/9; border:0; display:block;">
      </iframe>
    </div>

  </div>
</div>

</div>


<script src="/static/js/home.js"></script>

{% endblock %}