{% extends "layout.html" %}
{% block page_content %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">

<div class="container">
  <div class="first-section">
    <!-- 前景图（包含白色文字） -->
    <img class="fg-img" src="/static/upload/home/wukonghome.png" alt="wukonghome">
    <img class="delimeter-com" src="/static/upload/home/delimeter.png" alt="delimeter">

    <div class="wukong-text">
      <p>Fish vaccine strain modification and <br>intelligent immersion inoculation system</p>
    </div>
  </div>

  <div class="second-section">
    <!-- 背景层 -->
    <div class="ocean-bg"></div>

    <!-- 覆盖层 -->
    <img src="/static/upload/home/peoandfish.png" alt="peoandfish" class="peoandfish">
    <img src="/static/upload/home/medicine.png" alt="medicine" class="medicine">
    <img src="/static/upload/home/peoeatfish.png" alt="peoeatfish" class="peoeatfish">


    <div class="insert-circle part-1">
      However, diseases have long represented one of the major risks in the aquaculture industry, causing direct global
      economic losses exceeding USD 6 billion. Conventional prevention strategies, such as the use of antibiotics, pose
      a serious threat to food safety.
    </div>

    <div class="insert-circle part-2">
      Marine aquaculture, as a strategic “blue granary” for securing the supply of high-quality protein, plays a vital
      role in sustaining the livelihoods of hundreds of millions of people and in promoting the sustainable utilization
      of marine resources.
    </div>

    <div class="video-box">
      <video autoplay muted loop playsinlinep>
        <source src="/static/upload/home/video1.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

  </div>

</div>




</div>







{% endblock %}