{% extends "layout.html" %}

{% block title %}Hardware{% endblock %}

{% block page_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/common.css') }}">

<div class="our-team-section">
  <div class="overlay-text">
    <h3>PART.2</h3>
    <h1>OUR TEAM</h1>
  </div>
</div>


<div class="stage">
  <div class="layout">
    <!-- 左侧导航 -->
    <aside class="sidebar">
      <div class="indicator" id="indicator"></div>
      <div class="sidebar-inner">
        <h3 class="side-title">MEET THE TEAM</h3>
        <nav>
          <ul class="menu" id="menu">
            <li><a class="navlink" href="#core">CORE SYSTEM</a></li>
            <li><a class="navlink" href="#main">MAIN TECHNOLOGY &amp; ADVANCEMENT</a></li>
            <li><a class="navlink" href="#material">ORIGINAL MATERIAL &amp; COST ACCOUNTING</a></li>
            <li><a class="navlink" href="#perf">PERFORMANCE TESTING AND RESULTS</a></li>
          </ul>
        </nav>
      </div>
    </aside>

    <!-- 右侧正文 -->
    <main class="content">
      <div class="paper">
        <section id="core">
          <h2>1</h2>
          <p class="sub">1。</p>
          <p>1</p>
        </section>

        <section id="main">
          <h2>1</h2>
          <p class="sub">1</p>
          <p>1</p>
        </section>

        <section id="material">
          <h2>1</h2>
          <p class="sub">1</p>
          <p>1</p>
        </section>

        <section id="perf">
          <h2>1</h2>
          <p class="sub">1。</p>
          <p>1</p>
        </section>

        <div class="logo-ring"></div>
      </div>
    </main>

  </div>

</div>



{% endblock %}