{% extends "layout.html" %}

{% block page_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/common.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/software.css') }}">

<div class="our-team-section">
  <div class="gradient"></div>
  <div class="overlay-text">
    <h3>HUMAN PRACTICE</h3>
    <h1>SAFETY</h1>
  </div>
</div>


<div class="stage">
  <div class="layout">

    <!-- 左侧导航 -->
    <aside class="sidebar">
      <div class="indicator" id="indicator"></div>
      <div class="sidebar-inner">
        <h3 class="side-title">OVERVIEW</h3>

        <!-- Content Start -->
        <nav>
          <ul class="menu" id="menu">
            <li><a class="navlink" href="#synthetic">TEAM <br> RECRUITMENT AND <br>COMPOSITION</a></li>
            <li><a class="navlink" href="#risks">SHAPING OUR <br> TEAM <br>TOGETHER</a></li>
            <li><a class="navlink" href="#working">MAKING SCIENCE <br>INCLUSIVE OF ALL</a></li>

          </ul>
        </nav>
      </div>
    </aside>

    <!-- 右侧正文 -->
    <main class="content">
      <div class="paper">

        <!-- ID：team -->
        <section id="team">
          <h1>Team Recruitment and Composition</h1>
          <p class="sub">From the outset, we have been fully aware of the significance of diversity within our team. We
            believed that a variety of view pionts and professional backgrounds would not only enhance our creativity
            but also improve our problem-solving skills. </p>

          <p class="sub">With this in mind, we set out to recruit team members from a diversity of backgrounds.For
            example, we have students coming from the School of Information and Electronic Engineering, the School of
            Art and Design, the School of Biotechnology, and also the School of Mechanical Engineering. To make sure
            that all students at East China University of Science and Technology had an equal opportunity to join us, we
            created and distributed recruitment posters across different school websites. This approach made sure that
            students from various majors could apply.</p>

          <p class="sub">The selection process involved interviews conducted by our team leaders, who assessed
            candidates based on their knowledge, passion, and potential contributions to the team. Each applicant was
            interviewed until all available positions were filled,and during the interview, all candidates responded to
            a set of questions to select excellent students.Through this selection method,we guaranteed a fair and also
            reliable selection about the team members. </p>

          <p class="sub">We're proud to have brought together a diverse group of 20 students from 4 different
            faculties.Therefore, our team comprises students with a vibrant blend of knowledge and experience.
          </p>
        </section>

        <!-- ID: shaping -->
        <section id="shaping">
          <h1>Shaping Our Team Together </h1>
          <p class="sub">When we began our project, all of our team members, as well as our supervisors, had little
            prior experience in the sensing vaccine field, as this is a frontier research field. This shared starting
            point created a unique opportunity for studying and making progress together. Everyone in our team had to
            find out their own position in our team and also should understand the meaning of being one part of IGEM.
          </p>
          <p class="sub">Since we were all new to this as we all just started joining in this research field, it created
            a strong sense of pride and belonging. Everyone were excited to share their ideas and took an active part in
            their own part of work.We held offline meetings where each member had the chance to talk about their
            progress once a week, discussing any challenges they were facing and sharing new ideas with each other.</p>
        </section>


        <!-- ID：making -->
        <section id="making">
          <h1>Making Science Inclusive of All</h1>
          <p class="sub">One of our major educational goal was to connect with not only students from different
            academies,but also the public people who probably knew little about our reaserch before.To achieve this
            aim,we engaged with the public through media and online speeches. During the activities, we made sure to
            adapt our content to make the science principals about our project straightaway to various people,
            considering different backgrounds and age ranges.</p>

          <p class="sub">We are deeply awared that everyone should take their own part in science, and the participation
            in iGEM is also included. We believe that iGEM and synthetic biology can greatly benefit our society and our
            world.We hope people can be aware of their presence through our efforts,like all those conferences, and
            meetings we held with students, community members, and industry representatives.We want to show people the
            prospects within synthetic biology and how they can contribute to the greater future.</p>

          <p class="sub">In China, where this field is still emerging, we hope we can bridge the awareness gap in
            synthetic biology. We aimed not just to engage people in our initiative, but to prove that science progress
            influences every individual,and of us need to participate in science discussion and influence the future of
            science.</p>

        </section>

        <div class="logo-ring"></div>

      </div>
    </main>
    {% endblock %}