<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container">

    <!-- WUKONG -->
    <div class="logo-wrapper">
      <img src="https://static.igem.wiki/teams/5972/uploads/header/headerlogo.webp" alt="" class="logo-right">
    </div>


    <!-- SMALL SCREEN MENU ICON -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto left-aligned">

        <!-- HOME -->
        <li class="nav-item mega-trigger">
          <a class="nav-link home-link" href="{{ url_for('home') }}">HOME</a>
        </li>

        <!-- TEAM -->
        <li class="nav-item position-relative mega-trigger">
          <a class="nav-link team-link" href="#">TEAM</a>
          <div class="mega-menu">
            {% include "Header/header_team.html" %}
          </div>
        </li>

        <!-- PROJECT -->
        <li class="nav-item position-relative mega-trigger">
          <a class="nav-link project-link" href="#">PROJECT</a>
          <div class="mega-menu">
            {% include "Header/header_project.html" %}
          </div>
        </li>


        <!-- LAB -->
        <li class="nav-item position-relative mega-trigger">
          <a class="nav-link lab-link" href="#">LAB</a>
          <div class="mega-menu">
            {% include "Header/header_lab.html" %}
          </div>
        </li>

        <!-- HUMAN PRACTICES -->
        <li class="nav-item position-relative mega-trigger">
          <a class="nav-link human-practice-link" href="#">HUMAN PRACTICE</a>
          <div class="mega-menu">
            {% include "Header/header_human_practice.html" %}
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>