.our-team-section {
    position: relative;
    width: 1440px !important;
    max-width: 1920px !important;
    min-height: 80vh;
    left: 50% !important;
    transform: translateX(-50%) !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;

    background:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, .12) 50%,
            rgba(0, 0, 0, .22) 75%,
            rgba(0, 0, 0, .30) 100%),
        url("/static/upload/page/pagebackground1.png"),
        url("/static/upload/page/topback/hpeducation.png");

    background-size:
        100% 45%,
        contain,
        100%;

    background-position:
        center bottom,
        center bottom,
        center bottom;

    background-repeat: no-repeat, no-repeat, no-repeat;
}