header.bg-hero {
    display: none !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Abhaya Libre";
    src: url("/static/fonts/AbhayaLibre-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

html,
body {
    height: 100%;
    background-color: black;
    font-family: "Inknut Antiqua", serif;
    overflow-x: hidden;
    z-index: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    aspect-ratio: 19 / 7;
    z-index: 3;
}

/* Section ONE */
.first-section {
    width: 100%;
    background: url("/static/upload/home/longbackground.png") no-repeat center top;
    background-size: contain;
    position: relative;
    padding: 50px 0;
    z-index: 10;
}

.fg-img {
    display: block;
    width: 783px;
    height: 485px;
    margin: 1990px auto -32px auto;
    position: relative;
    z-index: 10;
}

.delimeter-com {
    display: block;
    width: 606px;
    height: 56px;
    margin: 0 auto 20px auto;
    position: relative;
    z-index: 10;
}

.wukong-text {
    text-align: center;
    font-family: 'Abhaya Libre SemiBold', serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #FFFFFF;
    z-index: 10;


}

/* Section TWO */
.second-section {
    margin-top: -100px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    z-index: 5;
}

.second-section .ocean-bg {
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/static/upload/home/ocean.png") no-repeat center top;
    background-size: contain;
    z-index: 0;
}

.second-section img {
    display: block;
    margin: 60px 0 100px 0;
    /* 每张图之间的间距 */
    width: 930px;
    max-width: 90%;
    /* 小屏幕适配 */
    position: relative;
    z-index: 1;
}

.second-section .peoandfish {
    top: 988px;
    left: 0px;
}

.second-section .medicine {
    width: 1037px;
    height: 836px;
    top: 590px;
    right: -884px;
}

.second-section .peoeatfish {
    transform: scaleX(-1);
    width: 1335px;
    top: -235px;
    left: -48px;
}

.insert-circle {
    position: absolute;
    display: grid;
    width: 950px;
    height: 388px;
    place-items: center;
    text-align: center;
    line-height: 55px;

    /* Fonts */
    color: #FFF4D9;
    font-family: 'Abhaya Libre SemiBold', serif;
    font-size: 36px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Left */
.part-1 {
    top: 1534px;
    left: 270px;
    z-index: 7;
    background:
        /* Side */
        linear-gradient(to right, gold 0%, gold 100%) top center / calc(100% - 60px) 1.7px no-repeat,
        linear-gradient(to right, gold 0%, gold 100%) bottom center / calc(100% - 60px) 1.8px no-repeat,
        linear-gradient(to bottom, gold 0%, gold 100%) left center / 1.7px calc(100% - 60px) no-repeat,
        linear-gradient(to bottom, gold 0%, gold 100%) right center / 1.7px calc(100% - 60px) no-repeat,
        /* Corner */
        radial-gradient(circle at 0 0, transparent 28px, gold 30px, gold 31px, transparent 32px) 0 0 / 60px 60px no-repeat,
        radial-gradient(circle at 100% 0, transparent 28px, gold 30px, gold 31px, transparent 32px) 100% 0 / 60px 60px no-repeat,
        radial-gradient(circle at 100% 100%, transparent 28px, gold 29px, gold 31px, transparent 32px) 100% 100% / 60px 60px no-repeat,
        radial-gradient(circle at 0 100%, transparent 28px, gold 29px, gold 31px, transparent 32px) 0 100% / 60px 60px no-repeat,

        /* Background Color change */
        linear-gradient(to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.6) 50%,
            rgba(0, 0, 0, 0) 100%);
}

/* Right */
.part-2 {
    width: 742px;
    height: 420px;
    top: 1150px;
    right: 193px;
    z-index: 6;
    background:
        /* Side */
        linear-gradient(to right, gold 0%, gold 100%) top center / calc(100% - 60px) 1.7px no-repeat,
        linear-gradient(to right, gold 0%, gold 100%) bottom center / calc(100% - 60px) 1.8px no-repeat,
        linear-gradient(to bottom, gold 0%, gold 100%) left center / 1.7px calc(100% - 60px) no-repeat,
        linear-gradient(to bottom, gold 0%, gold 100%) right center / 1.7px calc(100% - 60px) no-repeat,
        /* Corner */
        radial-gradient(circle at 0 0, transparent 28px, gold 30px, gold 31px, transparent 32px) 0 0 / 60px 60px no-repeat,
        radial-gradient(circle at 100% 0, transparent 28px, gold 30px, gold 31px, transparent 32px) 100% 0 / 60px 60px no-repeat,
        radial-gradient(circle at 100% 100%, transparent 28px, gold 29px, gold 31px, transparent 32px) 100% 100% / 60px 60px no-repeat,
        radial-gradient(circle at 0 100%, transparent 28px, gold 29px, gold 31px, transparent 32px) 0 100% / 60px 60px no-repeat;
}

/* Video 1 */
.video-box {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -480px;
    z-index: 2;
}