/* Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

/*  */
body {
    padding-top: 56px;
    margin: 0 auto;
    width: 1441px;
    overflow-x: hidden;
}

.left-aligned {
    margin-left: auto;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-hero {
    background-color: #45b06cff;
}

/* CALLOUT */
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-bottom: 1.25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout+.bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

/* footer */
footer {
    width: 1441px;
    height: 236px;
    left: 1px;
    top: 4485px;
    background-image: url(../static/upload/footer/IMG_8645.png), url(../static/upload/footer/素材姬_2.png);
    background-size: 320px 280px, cover;
    background-position: -20px, bottom center;
    background-color: #E6AA27;
    background-repeat: no-repeat, no-repeat;
}

.wukong-fish {
    width: 302px;
    height: 149px;
    margin-left: 99px;
    margin-top: -1px;
    padding-right: 0 !important;
}

.schoolInfo {
    margin-left: auto;
}

.contactInfo {}