/* Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;
}

@font-face {
    font-family: "Agency FB";
    src: url("/static/fonts/AGENCYR.TTF") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Agency FB";
    src: url("/static/fonts/AGENCYB.TTF") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ABeeZee';
    src: url('/static/fonts/ABeeZee-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ABeeZee';
    src: url('/static/fonts/ABeeZee-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

body {
    padding-top: 56px;
    margin: 0 auto;
    width: 1441px;
    max-width: 1441px;
    overflow-x: hidden;
}

.left-aligned {
    margin-left: auto;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-hero {
    background-color: #45b06cff;
}

/* CALLOUT */
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-bottom: 1.25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout+.bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

/* footer */
/* Background */
footer {
    width: 1440px;
    height: 236px;
    left: 1px;
    background-image: url(../static/upload/footer/IMG_8645.png), url(../static/upload/footer/素材姬_2.png);
    background-size: 311px 300px, cover;
    background-position: -36px -41px, bottom center;
    background-color: #E6AA27;
    background-repeat: no-repeat, repeat;

    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.footer .license {
    margin-top: -8px !important;
    padding-top: 0px !important;
}

/* Left Part */
.wukong-fish {
    width: 315px;
    height: 161px;
    margin-left: 81px;
    margin-top: 34px;
    padding-right: 0 !important;
}

/* Middle Part */
.schoolInfo {
    margin-top: 33px;
    margin-left: 53px;
    word-break: normal !important;
    overflow-wrap: normal !important;
    white-space: nowrap;
    padding-bottom: 0;
    max-width: 50px;
    white-space: 1px;
}

.schoolInfo .middle-university {
    margin-top: -25px;
}

.schoolInfo .middle-school {
    margin-top: 10px;
}

.schoolInfo .schoolInfo-text {
    font-family: "Agency FB", sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: #000000;
    margin: 0;
    line-height: 1.2;
}

.footer-logo {
    height: 67px;
    width: 67px;
}

/* Right Part */
.contactInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 45px;
    gap: 2px;
    z-index: 999;
}

.contactInfo .contactInfo-text {
    font-family: "Agency FB", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    white-space: nowrap;
}

.contact-icons {
    display: flex;
    gap: 8px;
    align-items: center;
}

.contactInfo .wechat-icon,
.contactInfo .bilibili-icon {
    width: 30px;
    height: 30px;
}


.contactInfo::after {
    content: "";
    position: absolute;
    top: -82px;
    right: -115px;
    width: 240px;
    height: 185px;
    background: url(../static/upload/footer/鱼1.png) no-repeat center/contain;
    z-index: 0;
    transform: rotate(60deg) scaleX(-1);
    pointer-events: none;
}

/* 留白 */
.license {
    margin-bottom: 100px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}