.human-practice-section {
    position: relative;
    padding: 60px 80px;
    min-height: 500px;
    color: #D4A76A;
    font-family: "Inknut Antiqua", serif;
}

/* Left Side */
.human-practice-title h2 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Inknut Antiqua", serif;
}

.human-practice-title h1 {
    font-size: 72px;
    font-weight: 700;
    margin: 0;
    font-family: "Inknut Antiqua", serif;
}

/* Right Side */
.human-practice-link ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.human-practice-link li {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.human-practice-link li::before {
    content: url("/static/upload/header_individual/how_to_reg.svg");
    display: inline-block;
    margin-right: 0px;
    vertical-align: middle;
}

.human-practice-link a {
    font-size: 20px;
    text-decoration: none;
    color: #D4A76A;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;
}

.human-practice-link a:hover {
    color: #FEEFC5;
}